@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$font-stack: "Open Sans", sans-serif;

$color-primary: #2196F3;
$color-mainBackground: #F1FCFF;
$color-white: #FFFFFF;
$color-hover: #F1FCFF;
$color-textPrimary: #4A4A4A;
$color-textSecondary: #A0B0B9;
$color-border: #DFE5EC;
$color-placeholder: #9EA9B7;

